.contentBadgePrice{
    background-color: #8BC34A;
    color: #FFFF;
    border-radius: 10px;
    align-items: center;
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 12px;
    font-weight: 600;
    vertical-align: baseline;
    height: 24px;

}